body {
    font-family: "Russo One", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-color: #000000; /* Configura o fundo */
}

.imagem-sobre-menu {
  width: 100%; /* Garante que a largura da imagem seja 100% do contêiner pai */
  max-width: 280px; /* Define a largura máxima da imagem para evitar distorções */
  margin: 0 10px 20px 0; /* Adiciona margem à direita e inferior para separar as imagens */
}

/* Adicione estilos para alinhar as imagens em linha */
.linha-de-imagens {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menu-flutuante {
  float: left;
}

.test {
  text-align: center;
}

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}

svg text {
  animation: stroke 5s infinite alternate; /* Correção na definição da animação */
  stroke-width: 2;
  stroke: #FFFFFF;
  font-size: 100px;
}

@keyframes stroke {
	0%   {
		fill: rgba(23,255,0,0); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	100%  {fill: rgba(23,255,0,0); stroke: rgb(255, 255, 255); }
	80%  {fill: rgba(23,255,0,0); stroke: rgb(26, 255, 0); stroke-width: 3; }
	100% {
		fill: rgb(13, 255, 0); stroke: rgba(255, 0, 0, 0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
}
}

.wrapper {background-color: #000000};

img{
    border-radius: 8px; /* Faz borda e arredonda imagens */
}

.gl-icon {
    height: 130px; /* Define a altura do corpo para ocupar toda a altura da tela */
    float: center;/*centraliza a logo no centro*/
    margin: auto; /*centraliza a logo no centro*/
    display: flex;/*centraliza a logo no centro*/
    align-items: flex-start; /* Alinha os itens no topo */
    
}

.ft-perfil2{
  height: 40px; /* Define a altura do corpo para ocupar toda a altura da tela */
  float: center;/*centraliza a logo no centro*/
  margin: auto; /*centraliza a logo no centro*/
  display: flex;/*centraliza a logo no centro*/
  align-items: flex-start; /* Alinha os itens no topo */
}

.carrinho{
  height: 40px; /* Define a altura do corpo para ocupar toda a altura da tela */
  float: center;/*centraliza a logo no centro*/
  margin: auto; /*centraliza a logo no centro*/
  display: flex;/*centraliza a logo no centro*/
  align-items: flex-start; /* Alinha os itens no topo */
}

header {
    background-color: #000000; /* Configura o fundo do menu de cima */
    color: #fff; /* Configura a cor do texto do menu de cima */
    text-align: center;
    padding: 1%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #000000; /* Configura o fundo do menu de baixo */
    padding: 0.8em;
    border: 3px solid #ffffff; /* Adiciona uma borda de 1px sólida com a cor #ddd */
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Configura a cor do texto do menu de baixo */
    padding: 0.5em 1em;
    border-radius: 5px; /* Faz borda e arredonda o botão */
    transition: background-color 0.3s;
    position: relative; /* Adiciona posição relativa para o posicionamento do submenu */
}

nav a:hover {
    background-color: #333; /* Configura a cor de fundo quando passa o mouse em cima do texto (menu de baixo) */
    color: #1eff00; /* Configura a cor do texto quando passa o mouse em cima do texto (menu de baixo) */
}

 /* Adicione estilos para o conteúdo abaixo do submenu */
 .conteudo-submenu {
    display: none;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    margin-top: 10px;
    border-radius: 5px;
}

.conteudo-submenu.mostrar {
    display: block;
}

/*configura o botâo "back"*/
.botao-voltar {
    display: inline-block;
    padding: 10px 15px;
    background-color: #050505; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado padrão */
    border-radius: 5px; /* Borda arredondada */
    transition: background-color 0.3s; /* Transição suave de cor de fundo */
}

/* Estilos para o link de voltar ao passar o mouse */
.botao-voltar:hover {
    background-color: #333; /* Cor de fundo alterada ao passar o mouse */
    color: #1eff00
}

.a2 {
    width: 77.4px; /* Defina a largura desejada para a navegação */
    padding: 0px; /* Adicione preenchimento interno aos links */
  justify-content: left;
  background-color: #000000; /* Cor de fundo alterada ao passar o mouse */
  color: #1eff00
}

.botao-perfil {
  background-color: #ffffff; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border: none; /* Remove a borda do botão */
  padding: 1px 2px; /* Adiciona preenchimento interno ao botão */
  border-radius: 20px; /* Arredonda as bordas do botão */
  cursor: pointer; /* Altera o cursor para um ponteiro quando o mouse passa sobre o botão */
  font-weight: bold; /* Deixa o texto em negrito */
  transition: 0.3s; /* Transição suave de cor de fundo */
}

.botao-perfil:hover {
  background-color: #00ff00; /* Cor de fundo do botão quando o mouse passa sobre ele */
}



/* configuração carrossel */
.carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    
  }
  
  .carousel-item {
    flex: 0 0 100%;
  }
  
  .carousel-item img {
    max-width: 50%;
    max-height: 100%;
  }
  
  /* configuração do rodapé */
  footer {
    background-color: #0a0a0a;
    color: white;
    padding: 35px 0;
  }
  
  .rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .rodape-links a {
    margin-right: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .rodape-info {
    margin-top: 10px;
  }
